body {
	font-family: Arial, Verdana, Sans-serif; 
	padding: 0px;
	margin: 0px;
}

a {
	color: #3515B0;
}

#upper-bar {
	font-family: Georgia;
	font-size: 14pt;
	padding: 1em;
	background-color: #0A67A3;
	color: #fff;
}

#upper-bar h1 {
	margin: 0;
	font-family: inherit;
	color: inherit;
	background-color: inherit;
}

#toc-sidebar {
	padding: 1em;
	float: left;
	position: relative;
	width: 200px;
	font-size: 9pt;
}

#toc-sidebar ul {
	margin: 0;
	padding: 0;
	padding-left: 1em;
}

#content {
	padding: 1em;
}

#content.has-sidebar {
	padding-left: 230px;
}

#footer {
    background-color: #0A67A3;
	clear: both;
	padding: 2em;
	font-size: 9pt;
	color: #65A6D1;
	text-align: center;
}

/**
 * Forms
 */

form dt {
    float: left;
    width: 10em;
    text-align: right;
    padding-right: 1em;
}

form dt .required {
    font-weight: bold;
}

form dd {
    margin-bottom: 1em;
}

form dd ul.errors {
    padding: 0;
    list-style-type: none;
    margin-left: 10em;
    font-size: 10pt;
    color: #c33;
    font-weight: bold;
}

form dd ul.errors li {
    padding: 2px;
    margin: 0;
}

form dd p.description {
    margin: 2px;
    margin-left: 10em;
    font-size: 10pt;
    color: #777;
}

/**
 * Comments
 */
#content #comments {
	font-size: 10pt;
	border-top: 1px solid black;
}

#content #comments h2 {
	font-size: 14pt;
}

#content #comments #post-comment {
	margin-top: 1em;
	border-top: 1px solid #999;
}

#user-comments .comment h3 {
	margin: 0px;
	margin-top: 1em;
	padding: 3px;
	padding-left: 20px;
	background: url(images/comment.png) 2px center no-repeat;
	border-top: 1px solid #999;
}

#user-comments .comment .comment-content {
    margin: 0px;
    margin-bottom: 1em;
    padding: 3px;
    padding-left: 25px;
}

/**
 * Messages
 */

#message-pane .message {
	border: 1px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 10pt;
	font-weight: bold;
	padding: 3px;
	margin: 3px;
	padding-left: 20px;
}

#message-pane .info-message {
    border-color: #2a2;
    background: url(images/message-info.png) 2px center no-repeat;
    background-color: #cfc;
}

#message-pane .warning-message {
    border-color: #aa2;
    background: url(images/message-warn.png) 2px center no-repeat;
    background-color: #ffa;
}

#message-pane .error-message {
    border-color: #a22;
    background: url(images/message-error.png) 2px center no-repeat;
    background-color: #fcc;
}